name: Training Pipeline

on: [push]

jobs:
  build-and-train:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        pip install mlflow pandas numpy scikit-learn matplotlib seaborn

    - name: Run MLflow Project (Training)
      run: |
        cd MLProject
        mlflow run . --env-manager=local

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Docker Image
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USERNAME }}
      run: |
        cd MLProject
        RUN_ID=$(cat run_id.txt)
        echo "Detected Run ID: $RUN_ID" 
        mlflow models build-docker -m "runs:/$RUN_ID/model" -n "$DOCKER_USER/hotel-booking-model:latest"
        docker push "$DOCKER_USER/hotel-booking-model:latest"

    - name: Upload Artifacts (Skilled Requirement)
      uses: actions/upload-artifact@v4
      with:
        name: experiment-results
        path: MLProject/mlruns